.schedule-container {
  width: 100%;
  height: 472px;
  background-color: #f8fafc;

  .schedule-content {
    width: 90%;
    max-width: 1640px;
    margin: 0 auto;
    height: 100%;
    display: flex;

    .schedule-component {
      width: 70%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      margin-right: 24px;
    }
    .whatsapp-tip {
      width: 490px;
      height: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      display: flex;
      color: #13457d;

      .left-section {
        padding-top: 24px;
        padding-left: 24px;
        width: 50%;
        height: 100%;
        p {
          width: 176px;
          padding: 10px 0px 20px 0px;
        }
      }
      .right-section {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .top-shape {
          margin-top: 24px;
          border-radius: 20px 0px 0px 20px;
          width: 100%;
          height: 368px;
          background-color: #ecf3fc;
          margin-bottom: 20px;
        }
        .bottom-shape {
          width: 100%;
          height: 64px;
          background-color: #13457d;
          border-radius: 20px 0px 0px 0px;
        }
      }
    }
  }
}
